.instructions{
    border: 1px solid;
    padding: 25px;
    margin: 10px 0 50px 0;
    h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.show-instructions{
    color: #3434f0;
    margin-bottom: 20px;
    display: block;
}